<!DOCTYPE html>
<html>
<head>
  <title>Tremont Realty Capital</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="tremont">

<div class="container">

  <div class="jumbotron">
    <h1>Tremont Reality Capital </h1>
  </div>

  <div class="col-md-12">
    <div class='panel'>
      <div class="bs-example">
          <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">
                  <li>
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">About us<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="/overview">Overview</a></li>
                      <li><a href="/community_relations">Community Relations</a></li>
                      <li><a href="/history">History</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Employee Biographies</a></li>
                    </ul>
                  </li>
                  <li>
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle">Investments<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Overview</a></li>
                      <li><a href="#">Selected Investment</a></li>
                    </ul>
                  </li>
                  <li>
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle">Advisory Services<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Real Estate Investment Banking</a></li>
                      <li><a href="#">CRE Portfolio Consulting</a></li>
                      <li><a href="#">Representative Transactions</a></li>
                    </ul>
                  </li>
                  <li>
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle">Newsroom<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Market Commentary</a></li>
                      <li><a href="#">Articles</a></li>
                      <li><a href="#">Events</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Newsletter Sign-up</a></li>
                    </ul>
                  </li>
                  <li>
                  <a href="" ef="#" data-toggle="dropdown" class="dropdown-toggle">Contact us<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Offices</a></li>
                      <li><a href="#">General Inquiries</a></li>
                      <li><a href="#">Careers</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        </div>
    </div>
  </div>


  <div class="col-md-12">
    <div class="panel">
      <%= yield %>
    </div>
  </div>

  </div>
</body>

<footer>
<div class="container">
  <div class="col-md-3">
    <div class="panel">
      <h5>Built By Mee</h5>
    </div>
  </div>
</div>
</footer>
</html>
